<!DOCTYPE html>
<html>
<head>
    <title>BioGO Animals</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>

    <h1>BioGO Animals Page</h1>

    <!-- Loop through each animal in the animals slice and put correct info. -->
    {{range .}}

    <div class="animal-Content">
        <h2>{{.Name}}</h2>
        <p>Scientific name: {{.ScientificName}}</p>
        <p>Group: {{.AnimalGroup}}</p>
        <p>Habitat: {{.Habitat}}</p>
        <p>Diet: {{.Diet}}</p>
        <p>Lifespan: {{.Lifespan}}</p>
        <p>Size: {{.Size}}</p>
        <p>Conservation Status: {{.ConservationStatus}}</p>
        <p>Fun Fact: {{.FunFact}}</p>

    </div>

    <!-- End the loop. -->
    {{end}}


</body>
</html>
